<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <title>마인드밤</title>
    <link rel="stylesheet" href="css/plugin/reset.css"/>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font/font.css"/>
    <link rel="stylesheet" href="css/main.css"/>

    <script src="js/plugin/jquery-3.4.1.min.js"></script>
    <script src="js/main.js"></script>

    <meta property="og:image" content="../img/oj.jpg"><!-- 1500 1500-->
    <meta property="og:description" content="영상을 업로드하고, 얼굴을 인식해보세요.">
    <meta property="og:title" content="미래교육 STT">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="favicon" href="" type="image/x-icon">

</head>
<body>



  <main id="main">
      <div class="bg"></div>
      <div class="deco_txt">MINDBAM</div>

      <article class="contents">
          <div class="title">마인드밤</div>
          <div class="bar"></div>
          <div class="sub_txt">
              영상을 업로드 하면, 얼굴을 인식해줍니다.
          </div>
          <div id="file_drop" class="contents_box" dropzone="copy" title="drop files for upload">
              <p>동영상을 업로드하세요.</p>
              <div>
                  <label class="btn" for="input-file"><img src="img/plus.png" alt="+"></label>
                  <input type="file" accept="video/mp4" id="input-file" style="display: none;">
              </div>
              <button class="btn2">영상 분석하기</button>
          </div>

      </article>


  </main>



  <section id="process">
      <article>
          <div class="num">10%</div>
          <div class="bar"><div></div></div>
      </article>

  </section>




  <section id="pop">
      <div class="bg"></div>
      <button class="close"><img src="img/close.png" alt="close"></button>
      <article class="pop_contents">
          <div class="title">영상 분석결과</div>
          <div class="bar"></div>
          <div class="pop_contents_box">
            <a id="download_button" href="" download>영상 download</button>
          </div>
      </article>


  </section>




  <h1 class="logo"><a href="index.html">마인드밤</a></h1>
  <script src="/socket.io/socket.io.js"></script>
  
  <script src="/siofu/client.js"></script>
  
  <script>
    document.addEventListener("DOMContentLoaded", function(){

      // Initialize instances:
      var socket = io.connect();
      var siofu = new SocketIOFileUpload(socket);

      // Configure the three ways that SocketIOFileUpload can read files:
      siofu.listenOnInput(document.getElementById("input-file"));
      siofu.listenOnDrop(document.getElementById("file_drop"));
      // Do something on upload progress:
      // siofu.addEventListener("progress", function(event){
      //     var percent = event.bytesLoaded / event.file.size * 100;
      //     console.log("File is", percent.toFixed(2), "percent loaded");
      // });

      const handler = {
        "blur": null
      };

      // Do something when a file is uploaded:
      siofu.addEventListener("complete", function(event){
        if(handler.blur)
          document.querySelector('#main .contents .btn2').removeEventListener('click', handler.blur)
        handler.blur = e => {
          e.preventDefault();
          $('#process').addClass('on');
          $('#process .bar > div').width(0);
          //socket.emit('blur start', event.detail.filename);
          socket.emit('hand start', event.detail.filename);
        }
        document.querySelector('#main .contents .btn2').addEventListener('click', handler.blur);
      });
      socket.on('hand progress', function(progress){
          $('#process .bar > div').width(progress + '%');
      })
      socket.on('hand succeeded',function(filename){
        console.log('filename log => '+ filename)
        socket.emit('blur start',filename);
      })
      socket.on('blur succeeded', function(filename){

        $('#pop').fadeIn();
        $('#download_button').attr('href', '/api/output/' + filename);
      });

    }, false);
  </script>
</body>
</html>